body{
    background: #f5f5f3;
    text-align: center;
}
h4{
    font-size: 0.36rem;
    color: #333;
    margin: 0.8rem 0 0.6rem 0;
}
h5{
    margin:0.8rem 0 0.6rem 0;
    font-size: 0.32rem;
    color: #333;
    font-weight: 100;
}
h5:nth-of-type(1){
    margin-top: 0.6rem;
}
.first_ul{
    text-align: left;
    margin-left: 1.68rem;
}
.first_ul li{
    list-style: disc;
    font-size: 0.24rem;
    color: #333;
    line-height: 0.4rem;
}
.sklc{
    width: 7rem;
    height: 8.63rem;
    background: url("../img/reportimg/lct.png") no-repeat;
    background-size: 7rem;
    margin: 0 auto;
}
.dpjx{
    width: 7.09rem;
    height: 8.84rem;
    background: url("../img/reportimg/jbxx.png") no-repeat;
    background-size: 7.09rem;
    margin: 0 auto;
}
.dzgc{
    width: 5.99rem;
    height: 4.08rem;
    background: url("../img/reportimg/gctj.png") no-repeat;
    background-size: 5.99rem;
    margin: 0 auto;
}
p{
    margin-bottom: 0.8rem;
}
.dzzl{
    width: 7.1rem;
    height: 2.85rem;
    background: url("../img/reportimg/zlxx.png") no-repeat;
    background-size: 7.1rem;
    margin: 0 auto;
}
.cyzz{
    width: 5.5rem;
    height: 4.13rem;
    background: url("../img/reportimg/zz.png") no-repeat;
    background-size: 5.5rem;
    margin: 0 auto;
}
.fcz{
    width: 5.5rem;
    height: 4.15rem;
    background: url("../img/reportimg/fcz.png") no-repeat;
    background-size: 5.5rem;
    margin: 0 auto;
}
.sfz{
    width: 6.07rem;
    height: 2.38rem;
    background: url("../img/reportimg/sfz.png") no-repeat;
    background-size: 6.07rem;
    margin: 0 auto;
}
.pmt{
    width: 6.12rem;
    height: 3.73rem;
    background: url("../img/reportimg/pmt.png") no-repeat;
    background-size: 6.12rem;
    margin: 0 auto;
}
.new1 li,.new2 li{
    width: 2.69rem;
    height: 2.02rem;
    float: left;
    margin-bottom: 0.4rem;
}
.new1 li:nth-of-type(1){
    background: url(../img/reportimg/jdt.png) no-repeat;
    background-size: 2.69rem;
}
.new1 li:nth-of-type(2){
    background: url(../img/reportimg/1.png) no-repeat;
    background-size: 2.69rem;
}
.new1 li:nth-of-type(3){
    background: url(../img/reportimg/2.png) no-repeat;
    background-size: 2.69rem;
}
.new1 li:nth-of-type(4){
    background: url(../img/reportimg/3.png) no-repeat;
    background-size: 2.69rem;
}
.new1 li:nth-of-type(5){
    background: url(../img/reportimg/4.png) no-repeat;
    background-size: 2.69rem;
}
.new1 li:nth-of-type(6){
     background: url(../img/reportimg/5.png) no-repeat;
     background-size: 2.69rem;
 }
.new1 li:nth-of-type(2n),.new2 li:nth-of-type(2n){
    margin-left: 0.58rem;
}
.new1,.new2{
    overflow: hidden;
    padding: 0 0.75rem;
}
.new2 li:nth-of-type(1){
    background: url(../img/reportimg/jdt2.png) no-repeat;
    background-size: 2.69rem;
}
.new2 li:nth-of-type(2){
    background: url(../img/reportimg/11.png) no-repeat;
    background-size: 2.69rem;
}
.new2 li:nth-of-type(3){
    background: url(../img/reportimg/22.png) no-repeat;
    background-size: 2.69rem;
}
.new2 li:nth-of-type(4){
    background: url(../img/reportimg/33.png) no-repeat;
    background-size: 2.69rem;
}
.new2 li:nth-of-type(5){
    background: url(../img/reportimg/44.png) no-repeat;
    background-size: 2.69rem;
}
.new2 li:nth-of-type(6){
    background: url(../img/reportimg/55.png) no-repeat;
    background-size: 2.69rem;
}
.hj1,.hj2{
    width: 5.98rem;
    height: 3.66rem;
    margin: 0 auto 0.4rem;
}
.hj1{
    background: url("../img/reportimg/dt.png") no-repeat;
    background-size: 5.98rem;
}
.hj2{
    background: url("../img/reportimg/dt2.png") no-repeat;
    background-size: 5.98rem;
}